services:
  postgres:
    image: postgres:15-alpine
    container_name: my_project_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: app_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: my_project_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data: